{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold text-gray-800 mb-6 text-center py-4">Welcome new user!</h1>

    {{ form_start(registrationForm, { 'attr': {'class': 'p-6 w-1/4'} }) }}

    <div class="mb-4">
        {{ form_errors(registrationForm.email) }}
        {{ form_label(registrationForm.email, 'Email', { 'label_attr': {'class': 'block text-gray-800 mb-2'} }) }}
        {{ form_widget(registrationForm.email, { 'attr': {'class': 'block w-full mt-1 px-4 py-2 border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500'} }) }}
    </div>

    <div class="mb-4">
        {{ form_errors(registrationForm.password) }}
        {{ form_label(registrationForm.password, 'Password', { 'label_attr': {'class': 'block text-gray-800 mb-2'} }) }}
        {{ form_widget(registrationForm.password, { 'attr': {'class': 'block w-full mt-1 px-4 py-2 border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500'} }) }}
    </div>

    <div class="mb-4">
        {{ form_row(registrationForm.agreeTerms, { 'attr': {'class': 'flex items-center'} }) }}
    </div>

    <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg shadow">
        Sign up
    </button>

    {{ form_end(registrationForm) }}

    <div class="text-center mt-4">
        <a href="{{ path('app_login') }}" class="text-blue-500 hover:underline">¿Do you have an account? Login</a>
    </div>
</div>
{% endblock %}
